.nickname {
  color: #000;
  font-family: Pretendard;
  font-size: 36px;
  font-weight: 600;
  line-height: 150%; /* 54px */
  letter-spacing: -0.72px;
}

.location {
  color: var(--400, #777);
  text-align: center;
  font-family: Pretendard;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%; /* 36px */
  letter-spacing: -0.48px;
}

.ecoScore {
  color: var(--Main, #1aa752);
  text-align: center;
  font-family: Pretendard;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%; /* 36px */
  letter-spacing: -0.48px;
}

.ecoScoreValue {
  color: var(--Main, #1aa752);
  text-align: center;
  font-family: Pretendard;
  font-size: 32px;
  font-weight: 600;
  line-height: 150%; /* 48px */
  letter-spacing: -0.64px;
}

.tradeReviewTitle {
  color: #000;

  /* Title/L-Bold */
  font-family: 'Pretendard', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 48px */
  letter-spacing: -0.64px;
}
